
*{
    font-family: "Roboto";
   
}


body{
   display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
    flex-grow: 1;
    margin: 0;
    border: 1;

}

.first-section,.second-section,.third-section,.fourth-section{
    flex-grow:1;
    height: 400px;
    padding-bottom: 100px;
}


.first-section{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    
 
    
}

.body{
   
    display: flex;
   justify-content: space-around;
   align-items: center;
   flex-grow: 1;
   margin-top: 50px;
    margin-left: 246px;
    margin-right: 246px;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    align-items: baseline;
    gap: 8px;
    flex-wrap: wrap;
   
    
    
}

.hero-main-text{
    font-size: 76px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 400px;
}

.hero-sub-text{
    font-size: 18px;
    color: #e5e7eb;
    width: 500px;

}


    

.header{
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
    align-items: center;
    gap: 175px;
    padding: 0;
    margin: 0;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;

}

.links{
 display: flex;
 align-items: center;
    gap: 50px;
    font-size: 18px;

}

.ali-flex{
 
    width: 400px;
}


img{
width: 100%;
height: 100%;
border-radius: 15px;
border: 3px solid #1F2937;
}

ul{
        list-style-type: none;

}

a{
    color: #e5e7eb;
    text-decoration: none;
}

button{

    background-color: #3882F6;
    color: white;
    font-size: 14px;
    padding: 8px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 6px;
    font-weight: bold;
    border-style: none;
}

.second-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 50px;
}
.second-header{
    font-size: 36px;
    font-weight: 999;
    color: #1F2937
}

.box{
    width: 250px;
    height: 250px;
   
    border-radius: 15px;
    
}

.information-section{
    display: flex;
    gap: 256px;
}
.text{
    width: 250px;
    text-align: center;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.third-section{
    background-color: #e5e7eb;

}

.footer{
    background-color:#1F2937;
}
