



body{
   display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
    flex-grow: 1;
    margin: 0;
    border: 1;

}

.first-section,.second-section,.third-section,.fourth-section{
    flex-grow:1;
}

.first-section{
    background-color: #1F2937;
    height: 400px;
}

.second-section{

}



.third-section{
    background-color: #e5e7eb;

}

.footer{
    background-color:#1F2937;
}

.image-placeholder{
    background-color: gray;
}

.header{
    display: flex;
    margin-top: 5px;
    justify-content: space-evenly;
    align-items: center;
    gap: 500px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;

}

.links{
 display: flex;
 align-items: center;
    gap: 50px;
    font-size: 18px;

}

ul{
        list-style-type: none;

}

a{
    color: #e5e7eb;
    text-decoration: none;
}

.hero-main-text{
font-size: 48px;
font-weight: bolder;
color: #F9FAF8;
}